<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Login/Register
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="login">
    <ion-text>
      <label for="username">Username: </label>
      <br/>
      <input id="username" [(ngModel)]="username">
    </ion-text>
    <br/>
    <ion-text>
      <label for="password">Password: </label>
      <br/>
      <input type="password" id="password" [(ngModel)]="password">
    </ion-text>
    <br/>
    <ion-button (click)="tryLogin()">Login</ion-button>
    <ion-button (click)="tryRegister()">Register</ion-button>
  </div>
</ion-content>
